{% for order_item in object.items.all %}
  <img style="width:100px; height:100px" src="{{ order_item.item.image }}">
  {{ order_item.item.price }}
  {{ order_item.quantity }}
  <a href="{% url 'Products:remove-an-item' order_item.item.slug %}">Decrease the quantity /</a>
  <a href="{% url 'Products:remove-from-cart' order_item.item.slug %}">remove /</a>
  <a href="{% url 'Products:add-to-cart' order_item.item.slug %}">Increase the quantity</a>
{% empty %}
  <P>There is nothing in your cart!</P>
  <a href="{% url 'Products:index' %}">you can see the products here!</a>
{% endfor %}