{% extends "Products/base.html" %}
{% load get_final_price_for_template %}


{% block content %}
{% for order_item in object.items.all %}
  <div>
      <img style="width:100px; height:100px" src="{{ order_item.item.image }}">
      <p style="display:inline;" class="lead">Price: {{ order_item.item.price }}
      Discount Price: {{ order_item.item.discount_price }}
      Quantity: {{ order_item.quantity }}
      {% if order_item.item.discount_price %}
        Total amount: {{ order_item.total_discount_price }}
        saving ${{ order_item.saved_amount }}
      {% else %}
          Total amount: {{ order_item.total_price }}
      {% endif %}
      </p>
      <br>
      <a class="link-dark" href="{% url 'Products:remove-an-item' order_item.item.slug %}">Decrease the quantity /</a>
      <a class="link-dark" href="{% url 'Products:remove-from-cart' order_item.item.slug %}">remove /</a>
      <a class="link-dark" href="{% url 'Products:add-to-cart' order_item.item.slug %}">Increase the quantity</a>
  </div>
{% empty %}
  <P>There is nothing in your cart!</P>
  <a href="{% url 'Products:index' %}">you can see the products here!</a>
{% endfor %}

<br>
<br>


{% if final_price %}
    <P class="lead">the percent of discount code => {{ percent }}</P>
    <P class="lead">The discount code worked =>{{ final_price }}</P>
{% else %}
    <p class="lead">Total saved amount {{ request|get_total_saved_amount }}</p>
    <p class="lead">Total price {{ request|get_final_price }}</p>
{% endif %}

<form method='POST' action="{% url 'Products:order_summery' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-dark btn-sm" type='submit'>Send</button>
</form>

{% endblock %}
