{% load get_final_price_for_template %}
{% for order_item in object.items.all %}
  <div>
      <img style="width:100px; height:100px" src="{{ order_item.item.image }}">
      {{ order_item.item.price }}
      {{ order_item.item.discount_price }}
      {{ order_item.quantity }}
      {% if order_item.item.discount_price %}
        {{ order_item.total_discount_price }}
        saving ${{ order_item.saved_amount }}
      {% else %}
          {{ order_item.total_price }}
      {% endif %}


      <a href="{% url 'Products:remove-an-item' order_item.item.slug %}">Decrease the quantity /</a>
      <a href="{% url 'Products:remove-from-cart' order_item.item.slug %}">remove /</a>
      <a href="{% url 'Products:add-to-cart' order_item.item.slug %}">Increase the quantity</a>
  </div>
{% empty %}
  <P>There is nothing in your cart!</P>
  <a href="{% url 'Products:index' %}">you can see the products here!</a>
{% endfor %}

<br>
<br>


{% if final_price %}
    <P>the percent of discount code => {{ percent }}</P>
    <P>The discount code worked =>{{ final_price }}</P>
{% else %}
    <p>Total saved amount {{ request|get_total_saved_amount }}</p>
    <p>Total price {{ request|get_final_price }}</p>
{% endif %}

<form method='POST' action="{% url 'Products:order_summery' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <input class="button" type='submit'>
</form>



