{% extends "Products/base.html" %}
{% load cart_counter_template_tag %}

{% block title %}products{% endblock %}

{% block header %}

<button class="btn btn-dark mt-3" id="show_search" onclick="ShowForm()">Search</button>
<form class="mt-3" method='GET' id="search_form" style="display:none;" name="search" action="{% url 'Products:search' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <input id="btn-send" class="btn btn-dark" type='submit'>
</form>

{% endblock %}

{% block content %}
{% if search %}
    {% for post in results %}
        <p><a class="link-dark" href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
    {% empty %}
        <p>I couldn't find anything</p>
    {% endfor %}
{% endif %}


{% for product in object_list %}
    <div class="mt-3">
        <a class="link-dark" href="{{ product.get_absolute_url }}"><h4>{{ product.title }}</h4></a>
        <img src="{{ product.image }}">
        <p class="leader">{{ product.description }}</p>
        <del>{{ product.price }}</del>
        <p>{{ product.discount_price }}</p>
        <a href="{{ product.add_to_cart_url }}">ADD TO CART</a>
        <hr>
    </div>
{% endfor %}
{% endblock %}

{% block javascript %}
function ShowForm() {
    document.getElementById('show_search').style.display='none';
    document.getElementById('search_form').style.display='block';
}
{% endblock %}