{% load cart_counter_template_tag %}

{% if request.user.is_authenticated %}
    <p>{{ request.user|cart_product_counter }}</p>
    <p>{{ user.get_username }}</p>
{% endif %}

<form method='GET' name="search" action="{% url 'Products:search' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <input class="button" type='submit'>
</form>

{% if search %}
    {% for post in results %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    {% endfor %}
{% endif %}


{% for product in object_list %}
    <div>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        <p>{{ object.description }}</p>
        <del>{{ product.price }}</del>
        <p>{{ product.discount_price }}</p>
        <br>
        <br>
        <br>
        <img src="{{ product.image }}">
        <hr>
        <a href="{{ product.add_to_cart_url }}">ADD TO CART</a>
    </div>
{% endfor %}